@{
    ViewBag.Title = "Manage My Company";
}

<h2>@ViewBag.Title</h2>

@Html.ActionLink("View my stocks", "ViewMyStocks", "Stock",
                 new { id = @Url.RequestContext.RouteData.Values["id"] },
                 new { @class = "btn btn-default" })

@Html.ActionLink("View my sales", "ViewMySales", "Sale",
                 new { id = @Url.RequestContext.RouteData.Values["id"] },
                 new { @class = "btn btn-primary" })

@Html.ActionLink("Make new sale", "MakeNewSale", "Sale",
                 new { id = @Url.RequestContext.RouteData.Values["id"] },
                 new { @class = "btn btn-success" })


