@using AAS.Web.Areas.CompanyManagment.Models.Client
@model ClientInputModel

<div id="createClientWrapper" class="jumbotron">
    @using (Ajax.BeginForm("CreateNewClient",null,
    new AjaxOptions
    {
        UpdateTargetId = "clientDdl",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST"
    }, new { @class = "form-horizontal", role = "form" }))
    {
        <fieldset>
            <legend>Create New Client</legend>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <div class="form-group">
                @Html.LabelFor(m => Model.Name, new { @class = "col-md-2 control-label" })
                @Html.TextBoxFor(m => Model.Name, new { @class = "col-md-6 form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => Model.Adress, new { @class = "col-md-2 control-label" })
                @Html.TextBoxFor(m => Model.Adress, new { @class = "col-md-6 form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => Model.Bulstat, new { @class = "col-md-2 control-label" })
                @Html.TextBoxFor(m => Model.Bulstat, new { @class = "col-md-6 form-control" })
            </div>
        </fieldset>
        <input type="submit" value="Create new client" class="btn btn-success" />
    }
</div>
