@model AAS.Web.Areas.CompanyManagment.Models.Sale.NewSaleInputModel

<h2>Make New Sale for Company @Model.CompanyName</h2>

<div class="jumbotron">
    @using (Ajax.BeginForm("AddNewStocks", "Stock", new
        {
            id = Model.CompanyId
        },
        new AjaxOptions
        {
            UpdateTargetId = "stocksContainer",
            HttpMethod = "Get",
            InsertionMode = InsertionMode.Replace,
            OnSuccess = "stillThinkingWhatToDo"
        }))
    {
        <p>Enter how many types of stocks to sell between 1 and 10</p>
        <input type="number" min="1" max="10" value="1" name="count" class="form-control" />
        <br />
        <input type="submit" value="Add" class="btn btn-default" />
    }

    @using (Html.BeginForm("CreateNewSale", "Sale",
                           new { id = Model.CompanyId },
                           FormMethod.Post,
                           new { @class = "form-horizontal",role = "form" }))
    {

        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

    <fieldset>

        <legend>Create New Sale</legend>

        <div class="form-group">
            @Html.LabelFor(m => Model.DateOfSale, new { @class = "col-md-1 control-label" })
            @(Html.Kendo().DateTimePickerFor(m => Model.DateOfSale)
                              .Name("DateOfSale")
                              .Value(DateTime.Now)
                              .HtmlAttributes(new { required = "required", @class = "col-md-6 form-control" }))
        </div>
        <div class="form-group">
            <strong class="col-md-1 control-label">Client</strong>
            <div id="clientDdl"></div>
            <div id="clientDdlLoading" style="display: none">Loading...</div>
            @Ajax.ActionLink("Choose From My Clients", "ChooseFromDropdown", "Sale",
                             new { id = Model.CompanyId },
                             new AjaxOptions
                             {
                                 UpdateTargetId = "clientDdl",
                                 LoadingElementId = "clientDdlLoading",
                                 HttpMethod = "GET",
                                 InsertionMode = InsertionMode.Replace,
                                 OnSuccess = "OnAjaxRequestSuccessFromDdl",
                             }, new { @class = "btn btn-primary", id = "clientDdlBtn" })

            @Ajax.ActionLink("Search By Bulstrad", "SearchByBulstrad", "Sale",
                             new { id = Model.CompanyId },
                             new AjaxOptions
                             {
                                 UpdateTargetId = "clientSearchForm",
                                 LoadingElementId = "clientDdlLoading",
                                 HttpMethod = "GET",
                                 InsertionMode = InsertionMode.Replace,
                                 OnSuccess = "OnAjaxRequestSuccessFromDdl",
                             }, new { @class = "btn btn-primary", id = "clientSearchBtn" })

            @Ajax.ActionLink("Create New", "CreateNewClient", "Sale",
                             new { id = Model.CompanyId },
                             new AjaxOptions
                             {
                                 UpdateTargetId = "clientSearchForm",
                                 LoadingElementId = "clientDdlLoading",
                                 HttpMethod = "GET",
                                 InsertionMode = InsertionMode.Replace,
                                 OnSuccess = "OnAjaxRequestSuccessFromDdl",
                             }, new { @class = "btn btn-success", id = "clientCreateBtn" })
        </div>
        <div class="form-group">
            <strong class="control-label">Stocks</strong>
            <div id="stocksContainer"></div>
        </div>
        <br />
    </fieldset>
        <input type="submit" value="Create" class="btn btn-success" />
    }
</div>

<div id="clientSearchForm" class="row"></div>

<div class="row" id="addNewStockContainer"></div>

<div class="row">
    <button id="chooseOther" hidden="hidden" class="btn btn-danger">Choose Other Option</button>
</div>



<script type="text/javascript">
    (function onPAgeLoad() {
        $('#chooseOther').hide();
    })();
    function OnAjaxRequestSuccessFromDdl(data) {
        $('#clientDdlBtn').hide();
        $('#clientSearchBtn').hide();
        $('#clientCreateBtn').hide();

        $('#chooseOther').show().on('click', function () {
            $('#clientDdlBtn').show();
            $('#clientSearchBtn').show();
            $('#clientCreateBtn').show();
            $('#clientsDdl').hide();
            $('#searchFormWrapper').hide();
            $('#chooseOther').hide();
            $('#createClientWrapper').hide();
        });
    }
</script>