@model AAS.Web.Areas.CompanyManagment.Models.Sale.NewSaleInputModel

<h2>Make New Sale for Company @Model.CompanyName</h2>

@using (Html.BeginForm("CreateNewSale", "Sale", FormMethod.Post,
                       new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>

        <legend>Create New Sale</legend>

        <div class="form-group">
            @Html.LabelFor(m => Model.DateOfSale, new { @class = "col-md-1 control-label" })
            @(Html.Kendo().DateTimePickerFor(m => Model.DateOfSale)
              .Name("DateOfSale")
                  .Value(DateTime.Now)
                  .HtmlAttributes(new { required = "required" }))
        </div>
        <div class="form-group">
            <strong class="col-md-1 control-label">Client</strong>
            <div id="clientDdl"></div>
            <div id="clientDdlLoading" style="display: none">Loading...</div>
            @Ajax.ActionLink("Choose From My Clients", "ChooseFromDropdown", "Sale",
                             new { id = Model.CompanyId },
                             new AjaxOptions
                             {
                                 UpdateTargetId = "clientDdl",
                                 LoadingElementId = "clientDdlLoading",
                                 HttpMethod = "GET",
                                 InsertionMode = InsertionMode.Replace,
                                 //OnBegin = "OnAjaxRequestBeginFromDdl",
                                 //OnFailure = "OnAjaxRequestFailure",
                                 OnSuccess = "OnAjaxRequestSuccessFromDdl",
                                 //OnComplete = "OnAjaxRequestComplete",
                                 // AllowCache = true,
                                 // Confirm = "Are you sure you want to update the time?"
                             }, new { @class = "btn btn-primary", id = "clientDdlBtn" })

            @Ajax.ActionLink("Search By Bulstrad", "SearchByBulstrad", "Sale",
                             new { id = Model.CompanyId },
                             new AjaxOptions
                             {
                                 UpdateTargetId = "clientDdl",
                                 LoadingElementId = "clientDdlLoading",
                                 HttpMethod = "GET",
                                 InsertionMode = InsertionMode.Replace,
                                 //OnBegin = "OnAjaxRequestBeginFromDdl",
                                 //OnFailure = "OnAjaxRequestFailure",
                                 OnSuccess = "OnAjaxRequestSuccessFromDdl",
                                 //OnComplete = "OnAjaxRequestComplete",
                                 // AllowCache = true,
                                 // Confirm = "Are you sure you want to update the time?"
                             }, new { @class = "btn btn-primary", id = "clientSearchBtn" })
            @Html.ActionLink("Create New", "", "Sale", new { @class = "btn btn-default" })
        </div>
        @*@Html.LabelFor(m => Model.)
            @Html.TextBoxFor(m => Model.Adress)
            <br />
            @Html.LabelFor(m => Model.Bulstrad)
            @Html.TextBoxFor(m => Model.Bulstrad)
            <br />
            @Html.LabelFor(m => Model.AccountablePerson)
            @Html.TextBoxFor(m => Model.AccountablePerson)
            <br />
            @Html.LabelFor(m => Model.ImgUrl)
            @Html.TextBoxFor(m => Model.ImgUrl)*@
        <br />
    </fieldset>
    <input type="submit" value="Create" />
}

<button id="chooseOther" hidden="hidden" class="btn btn-danger">Choose Other Option</button>

<style scoped>
    .k-datetimepicker
    {
        width: 200px;
    }
    #to-do {
        height: 52px;
        width: 221px;
        margin: 30px auto;
        padding: 91px 0 0 188px;
        background: url('@Url.Content("~/content/web/datepicker/todo.png")') transparent no-repeat 0 0;
    }
</style>

<script type="text/javascript">
    (function onPAgeLoad() {
        $('#chooseOther').hide();
    })()
    function OnAjaxRequestBegin() {
        console.log("This is the OnBegin Callback");
    }
    function OnAjaxRequestSuccessFromDdl(data) {
        $('#clientDdlBtn').hide();
        $('#clientSearchBtn').hide();

        $('#chooseOther').show().on('click', function () {
            $('#clientDdlBtn').show();
            $('#clientSearchBtn').show();
            $('#clientsDdl').hide();
        });
    }
    function OnAjaxRequestFailure(request, error) {
        console.log("This is the OnFailure Callback:" + error);
    }
    function OnAjaxRequestComplete(request, status) {
        console.log("This is the OnComplete Callback: " + status);
    }
</script>